---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16oC7DA85nYsHkIKbqmqsnFX&email=alice%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 23 Sep 2015 12:12:53 GMT
recorded_with: VCR 2.9.3
