---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16n2ZfA85nYsHkIKiBAO1xcD&description=Sign%20up%20charge%20for%20alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16n2ZgA85nYsHkIKcQvSBylV"
          }
        }
  recorded_at: Sun, 20 Sep 2015 07:49:28 GMT
recorded_with: VCR 2.9.3
