---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16oCHmA85nYsHkIKmb9FGGbI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16oCHmA85nYsHkIKmb9FGGbI",
          "created": 1443011026,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16oCHmA85nYsHkIKTK0PV3tl",
              "object": "charge",
              "created": 1443011026,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16oCHkA85nYsHkIK9a41Skk5",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2017,
                "fingerprint": "o7wSBIKyXzvPqrYc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_72GplbEAQZw8fa"
              },
              "captured": true,
              "balance_transaction": "txn_16oCHmA85nYsHkIKCri1QyT4",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_72GplbEAQZw8fa",
              "invoice": "in_16oCHmA85nYsHkIK34Pvde5X",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16oCHmA85nYsHkIKTK0PV3tl/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_72GpUy503BsKdO",
          "api_version": "2015-09-08"
        }
  recorded_at: Wed, 23 Sep 2015 13:37:52 GMT
recorded_with: VCR 2.9.3
