---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16oEBXA85nYsHkIKmifaq5Mt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16oEBXA85nYsHkIKmifaq5Mt",
          "created": 1443018327,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_16oEBXA85nYsHkIKi4hPwFlS",
              "object": "charge",
              "created": 1443018327,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16oEAmA85nYsHkIKYEgEWvsU",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2018,
                "fingerprint": "1j0iJnxBrSpa65IF",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_72Ic1prqSzQVlj"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_72Ic1prqSzQVlj",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16oEBXA85nYsHkIKi4hPwFlS/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_72InLnwSEVxPLE",
          "api_version": "2015-09-08"
        }
  recorded_at: Wed, 23 Sep 2015 14:36:28 GMT
recorded_with: VCR 2.9.3
