---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16oCbLA85nYsHkIK44VFxCwV",
          "livemode": false,
          "created": 1443012239,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16oCbLA85nYsHkIKGakK01FP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2016,
            "fingerprint": "o7wSBIKyXzvPqrYc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "42.2.235.92"
        }
  recorded_at: Wed, 23 Sep 2015 12:43:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16oCbLA85nYsHkIK44VFxCwV&email=roman%40kunze.biz&plan=base
    headers:
      Authorization:
      - Bearer sk_test_z3jvrvHHBMQ1Qf1zbhjjpA35
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1443012240,
          "id": "cus_72H9Js1dYDlaJj",
          "livemode": false,
          "description": null,
          "email": "roman@kunze.biz",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_72H9Js1dYDlaJj/subscriptions",
            "data": [
              {
                "id": "sub_72H9yds85D6IxY",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1442976974,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1443012240,
                "status": "active",
                "customer": "cus_72H9Js1dYDlaJj",
                "cancel_at_period_end": false,
                "current_period_start": 1443012240,
                "current_period_end": 1445604240,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_72H9Js1dYDlaJj/sources",
            "data": [
              {
                "id": "card_16oCbLA85nYsHkIKGakK01FP",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2016,
                "fingerprint": "o7wSBIKyXzvPqrYc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_72H9Js1dYDlaJj"
              }
            ]
          },
          "default_source": "card_16oCbLA85nYsHkIKGakK01FP"
        }
  recorded_at: Wed, 23 Sep 2015 12:44:01 GMT
recorded_with: VCR 2.9.3
