!!! 5
%html(lang="en-US")
  %body
    %p Hello, #{@invitation.recipient_name}!
    %p You have received an invitation from #{@invitation.inviter.full_name}."
    %p= @invitation.message
    %p= link_to "Accept this invitation", "#"